body { scroll-behavior: smooth; }

#p5-container canvas {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: -1;
    pointer-events: none;
  }

  .h1 {
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .col-accent {
    color: rgba(222, 245, 9);
  }